<!-- <div class="card-content"> -->
  <div class="list-block search-block">
    <div class="item-content">
      <div class="item-inner">
        <div class="item-title label block-inline">名称搜索</div>
        <div class="item-input block-inline item-edit">
          <input type="text" ng-model="query" placeholder="组织/对象名称"/>
        </div>
      </div>
    </div>
    <div class="item-content">
      <div class="item-inner">
        <div class="item-title label block-inline">前往坐标</div>
        <div class="item-input block-inline item-edit">
          <input type="text" ng-model="gps.lng" placeholder="经度" class="search-gps"/> /
          <input type="text" ng-model="gps.lat" placeholder="纬度" class="search-gps"/>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
