<div class="part-add"> 

  <div class="content-block">

    <div class="list-block">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <input type="text" placeholder="对象名称" ng-model="fresh.title">
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <input type="number" placeholder="楼层" ng-model="fresh.floor">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>

  <div class="content-block">
    <div class="row">
      <div class="col-50"><a href="#" class="button button-fill" ng-click="savePart()">确定</a></div>
      <div class="col-50"><a href="#" class="button button-light" ng-click="backtoPart()">取消</a></div>
    </div>
  </div>

</div>
