<div class="card">
  <div class="card-content">
    <div class="card-content-inner">

      <div class="row">
        <div class="col-33">
          <div class="org-title">
            &nbsp;
            <span ng-if="floors">共{{floors}}层</span>
          </div>
        </div>

        <div class="col-33 org-button" style="right: 33%">
          <a ng-click="addPart(org_id)" href="#" class="button block-inline button-small">新增对象</a>
        </div>
        <div class="col-33 org-button">
          <a ng-click="draw(org_id)" href="#" class="button block-inline button-small">新增绘制</a>
        </div>
      </div>

      <div class="row" ng-repeat="part in parts">

        <div class="col-60">
          <div class="org-title">
            {{part.title}} {{$index+1}}
          </div>

          <div class="row org-footer">
            <span ng-if="part.objects">共{{part.objects}}层</span>
          </div>
        </div>

        <div class="col-40 row">
          <div class="col-50">
            <a ng-click="edit(part.id, $index)" href="#" class="button block-inline">修改</a>
          </div>
          <div class="col-50">
            <span ng-click="del(part.id, $index)" class="icon icon-remove"></span>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
