.title-par{
	position: absolute;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0 -.5rem;
  line-height: 2.4rem;
  color: #3d4145;
  white-space: nowrap;
	left:6rem;
	width: auto;
}
.title-left{
	width:4rem;
	left:1rem;
}
.text-shrink{
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dpsite-label{
	width:10%;
	margin-top: -.2rem;
}

.card-liner{
  background: #fff;
  box-shadow: 0 .05rem .1rem rgba(0,0,0,.3);
  border-radius: .1rem;
	-webkit-border-radius: .1rem;
	text-align:center;
	padding: .5rem 0;
}
.card-row-header-fix{
	padding: 0 .75rem;
}
.middle-line{
  background: url('/tour/img/bg-line.png') #fff;
	background-repeat: repeat-x;
	background-position: 0% 50%;
	background-size: 200% 20%;
	width:33.33% !important;
	margin-left:0 !important;
}
.card-liner span, .pay-remark{
	color: rgba(128,128,128,.8);
}
.card-tip, .price, .tip-color{
	color: rgb(255,109,6) !important;
}
.card-tip{
	font-weight: 600;
  font-size: .5rem;
}
.card-liner-middle{
	line-height: 1em;
  position: relative;
}
.card-liner-middle:after{
  border-bottom: 0.05rem solid rgba(128,128,128,.6);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.125em / 2 * -1);
  margin-top: -webkit-calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.act-carousel, .act-carousel ul, .act-carousel ul li{
	height: 10rem;
	width:100%;
	overflow: hidden;
}
.act-carousel ul{
	margin: 0;
}
.indicator-block, .indicator-ele{
	display:inline-block;
	width: .4rem;
	height: .4rem;
}
.indicator-block{
	margin: 0 .1rem;
}
.indicator-ele:before{
  width: .4rem;
  height: .4rem;
  -webkit-border-radius: .4rem;
  border-radius: .4rem;
  margin-top: -.2rem;
  background: #fff;
  content: "";
  position: absolute;
  top: 50%;
}
div.rn-carousel-indicator div.active .indicator-ele:before{
	background:rgb(29,218,177);
}
.act-carousel-indicator{
  position: absolute;
  right: 1rem;
  bottom: .5rem;
  display: inline-block;
  z-index: 1000;
  background: rgba(200,200,200,.4);
  height: .8rem;
  line-height: .55rem;
  border-radius: .5rem;
	-webkit-border-radius: .5rem;
  padding: .1rem .3rem;
	opacity: .8;
}
.act-carousel-caption{
  color: white;
  padding: 0 .8rem;
  height: 1.3rem;
  line-height: 1.3rem;
  bottom: 0;
  position: absolute;
  width: 100%;
  font-size: .8rem;
  background: rgba(100,100,100,0.5);
	margin-left: 0;
	z-index:1000;
}
.act-carousel-caption span{
  text-shadow: #000 1px 1px 3px;
}

.layer img{
	width: 100%;
}
.user-icon{
	width: 3rem;
	height:3rem;
	border-radius: 3rem;
	-webkit-border-radius: 3rem;
}
.user-row{
	padding: .5rem .75rem !important;
}
.item-input.item-edit{
	width:60%;
}

.menu-dropdown{
	position: relative;
  float: right;
  background: #fff;
  top: 2.2rem;
  z-index: 5;
	width: initial;
  height: initial;
  box-shadow: 0 .05rem .1rem rgba(0,0,0,.3);
}
.menu-dropdown.popover{
	z-index: 3000;
}
.menu-dropdown a{
  display: inline-block;
  border: none;
  background: #fff;
/*	z-index: 2000;*/
}
.menu-dropdown-fix{
	border-bottom:1px solid;
}
.button-book, .menu-dropdown-fix, .button-fill.button-booknum,.button-fill.button-price,.route-tip,.card{
	border-radius: 0;
	-webkit-border-radius: 0;
}

.memo-part{
	text-decoration: none;
}
.memo-part a{
	color: #000;
}

.card-content img, .memo-part img{
	width: 100%;
	height: 7rem;
}
.card-content-inner {
  padding: .05rem .75rem;
}
.card-content-inner p{
	margin: .05rem 0 .2rem 0;
	color:rgba(0,0,0,.7);
}
.bottom-border{
	padding-bottom: .3rem;
	border-bottom: .05rem solid rgba(100,100,100,.2);
}
.button-more,.route-content,.card-liner, .card-content-inner p, .book-label, .button, .book-date-label, .pay-remark,.route-dpdates{
	font-size:.6rem;
}
.price{
	padding: 0 .5rem;
}
.route-policy{
	font-size: .9rem;
  line-height: .9rem;
  -webkit-border-radius: 1.8rem;
  border-radius: 2rem;
  width: 3.3rem;
  padding: .75rem;
  color: rgb(250,250,250) !important;
}
.route-policy-part{
	padding:.5rem 0 .2rem 0;
	display:flex;
}
.vcenter{
	display:flex;
	align-items:center;
}
.route-info-part{
	padding:.35rem .1rem;
}
.route-dpdates{
  border: 1px solid rgb(29,218,177);
	padding: .1rem;
  width: auto !important;
}
.route-title,.order-price{
  font-size: .9rem;
}
.route-title, .route-content{
	padding: .15rem 0;
}
.route-tip{
  padding: .1rem;
}
.route-tip, .route-footer{
	font-size: .5rem;
}
.route-content, .route-footer{
  color: rgba(128,128,128,.8);
}
.route-price,.dpsite-label{
	font-size:1.2rem;
}
.infinite-scroll-preloader {
  display: flex;
  justify-content: center;
}
.icon-loader{
	width: 1.1rem;
  height: 1.1rem;
  display: inline-flex;
  align-items: center;
  padding: .1rem .2rem;
  border: .05rem #fff;
  border-style: none inset;
  border-radius: 50%;
  margin-right: .25rem;
}
.icon-loader img{
	width:100%;
}
.icon-memo-marker:before,.icon-memo-marker:after{
  content: "";
  position: absolute;
  top: 50%;
  border: 1px solid transparent;
  border-width: .2rem .25rem;
  border-left-color: rgb(29,218,177);
	-webkit-border-left-color: rgb(29,218,177);
  margin-top: -.1rem;
  background: transparent;
}
.icon-memo-marker:after{
	margin-left:.25rem;
}
.mini-title{
  border-left: .2rem solid rgb(29,218,177);
  padding-left: .2rem;
}

.fixed-bottom{
	position:fixed;
	bottom: 0;
	width: 100%;
  float: right;
	z-index: 200;
}
.bottom-act{
  height: 3rem;
  line-height: 3rem;
}
.order-content{
	color:rgb(128,128,128);
}
.button-line-height, .book-label, .pay-content div,.order-content div{
	line-height: 1.35rem !important;
	height: 1.35rem !important;
	min-height: 1.35rem !important;
}
.link-color{
	color:#0894ec;
}
.button-line-height-big{
  line-height: 2.4rem;
	height: 2.4rem;
}
.button-more{
  border-color: rgba(29,218,177,.6);
  line-height: 1.0rem;
  height: 1.1rem;
  padding: 0 .4rem;	
}
.button-fill.button-booknum{
	background: #fff;
  color: #555;
  font-size: .8rem;
  line-height: 1.2rem;
	padding: 0 .4rem;
  width: 100%;
}
.button-booknum-container{
	margin-left: 0 !important;
  width: 1.4rem !important;
}
.button-fill.button-booknum, .book-input{
	border: solid #bbb;
	border-width: 1px 0;
}
.button-fill.button-price,.route-tip{
  background: rgb(255,109,6);
  color: #fff;
}
.button-pay-container{
	margin: 1rem 0;
}
.button-fill.button-payorder{
  height: 100%;
  line-height: 1.75rem;
  font-size: .75rem;
}
.button-fill.border-round{
  border-radius: 0.15rem;
}
.button-fill.button-del{
  background: #fff;
  color: rgb(128,128,128);
  border: 1px solid rgba(128,128,128,.8);
  border-radius: 0;
}

.book-input{
	line-height: 1.25rem;
  width: 100%;
  padding: 0;
}
.book-input-container{
  margin-left: 0 !important;
  width: 1.6rem !important;
}
textarea.book-remark{
	border: 1px solid #ccc;
  margin: 0 1rem 0 .5rem;
}
.book-order-bottom{
  margin-top: 1.5rem;
  background: rgb(250,250,250);
  border-top: 1px solid #ccc;
	font-size:.7rem;
}
.pay-content{
	color: #666;
}
.paid-icon{
	border: .05rem solid;
  color: rgb(29,218,177);
  border-radius: .7rem;
  padding: .3rem;
	margin-left: -.5rem;
  position: relative;
  top: -.18rem;
	animation-name: sfadeIn;
	-webkit-animation-name: sfadeIn;
	animation-duration: .8s;
	-webkit-animation-duration: .8s;
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;
}

/*basics*/
.block-inline{
	display: inline-block;
}
.align-right{
	text-align: right;
}
.align-center{
	text-align: center;
}
.align-left{
	text-align: left;
}

/*panel fix*/
.bar-nav~.panel{
	top:2.2rem;
	position:fixed;
	background:#fff;
}
.panel{
	width: 85%;
  height: calc(100% - 2.2rem);
}
.panel.panel-right.panel-cover{
	left: 100%;
}
.panel-content{
	font-size:initial;
	margin: 0;
}
.panel-content img{
	width:100%;
}
body.with-panel-right-cover .panel-right{
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

/*custom theme*/
.buttons-tab .button.active {
	color: rgb(29,218,177);
	border-color: rgb(29,218,177);
}
.err-msg{
  position: absolute;
  top: 2.35rem;
  font-size: .6rem;
  color: rgba(200,40,40,.9);
	z-index: 200;
}
.has-error input, .has-error textarea, .has-error select{
	border: 1px solid #ae3534 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483 !important;
}
.card-header.penger-header:after{
	height:0;
}
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox{
	background:rgb(29,218,177);
}
div.rn-carousel-indicator span, .title{
	color: #fff;
}
div.rn-carousel-indicator span.active, .icon-memo-marker, .menu-dropdown a, a, .icon-right{
	color: rgb(29,218,177);
}
.button-more, .bottom-act{
	color: rgba(29,218,177,.6);
}
.bar-nav, .bar-nav a, .book-input, .book-input-container, .button-fill.button-alter-date, .button-fill.button-book,.route-policy,
	.picker-modal .toolbar, .picker-calendar-day.picker-calendar-day-selected{
	background: rgb(29,218,177);
	color: #fff;
}
.row .col-30{
	width:28%;
	margin-left:2%
}
.icon-clock-fix{
  top: -.05rem;
  position: relative;
}
.card{
	margin: inherit;
	padding-bottom: .2rem;
	box-shadow: none;
}
.popup-overlay {
	background: transparent;
	z-index:2000;
	top:7rem;
}
.popup{
	transform: translate3d(0,-100%,0);
	-webkit-transform: translate3d(0,-100%,0);
}
.popup.modal-out{
	-webkit-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0);
}
.menu-open{
	-webkit-transition-duration:.35s;
	transition-duration:.35s;
	transform: rotateZ(90deg);
	-webkit-transform:rotateZ(90deg);
}
/* price calendar */
.picker-calendar-row{
	height: 2.8rem;
}
.picker-calendar-week-days{
  font-size: .55rem;
  color: #666;
}
.picker-calendar-day{
	align-items: baseline;
	display: block;
}
.picker-calendar-day.picker-calendar-day-selected span{
	background: initial;
}
.picker-calendar-day div{
	height: .55rem;
  font-size: .55rem;
  margin-bottom: .15rem;
  color: rgba(255,109,6,.8);
}
.picker-calendar-day.picker-calendar-day-selected div{
/*  text-shadow: 0 0 .1rem rgba(245,245,245,.9);*/
	text-shadow: .05rem -.05rem .1rem rgba(245,245,245,.9);
}
.picker-calendar-day span{
  width: .8rem;
  height: .8rem;
  line-height: .85rem;
  font-size: .55rem;
}
.picker-modal, .picker-calendar{
	height: 20rem;
}
.picker-modal .toolbar-inner{
	height:1.8rem !important;
	line-height:1.8rem !important;
	min-height:1.8rem !important;
}
.picker-modal .toolbar+.picker-modal-inner{
	height: inherit;
}
.picker-calendar-week-days, .picker-calendar-week-days .picker-calendar-week-day{
	line-height: 1rem;
	height: 1rem;
}
.picker-calendar-day.picker-calendar-day-disabled,.picker-calendar-day.picker-calendar-day-next, .picker-calendar-day.picker-calendar-day-prev{
	opacity: .5;
}
a.icon-only,.icon-only .icon-right{
	color: #fff !important;
}
.icon-check:before{
  display: inline-block;
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	animation-duration: .8s;	
	-webkit-animation-duration: .8s;
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		
	visibility: visible;	
}
@keyframes fadeIn {
	0% {transform: scale(0);opacity: .4;}
	30% {transform: scale(1.5);}
	80% {transform: scale(0.7);opacity: 1;}
	100% {transform: scale(1);opacity: 1;}
}
@-webkit-keyframes fadeIn {
	0% {-webkit-transform: scale(0);opacity:.4;}
	30% {transform: scale(1.5);}
	80% {-webkit-transform: scale(0.7);opacity: 1;}
	100% {-webkit-transform: scale(1);opacity: 1;}	
}

@keyframes sfadeIn {
	0% {opacity: 0;}
	55% {opacity: .8;}
	70% {opacity: .3;}
	100% {opacity: 1;}
}
@-webkit-keyframes sfadeIn {
	0% {opacity: 0;}
	55% {opacity: .8;}
	70% {opacity: .3;}
	100% {opacity: 1;}
}
