#container {
  width: 75%;
  height: 100%;
}
#left {
  float: left;
  position: relative;
  width: 25%;
  min-width: 300px;
  height:100%;
  background: #FCF9F2;
}
.ui-view{
  background-color: #f7f7f8;
}
.search-block, .search-block input[type=text]{
  margin: auto;
  font-size: medium;
}
.search-gps{
  width:40% !important;
  display:inline-block !important;
}

/* sm class fix */
.bar-title{
  font-size: large;
}
.bar.bar-nav{
  position: relative;
}
.card{
  margin: auto;
}
html, body{
  width: 100%;
  height: 100%;
  margin: auto;
}
