<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Micromap</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key={{amapKey}}"></script>
</head>
<body>
<div id="container"></div>
<div id="tip">可以缩放地图，得到缩放级别哦！<br><span id="info"></span>
  <input id="lnglat"></input>
</div>
</body>
<script>
    var map = new AMap.Map('container', {
    resizeEnable: true,
    zoom:17,
    center: [113.95954, 22.52952]

});

var objArray = new Array();
{% for obj in objects %}
{% if obj.type == 'Polygon' %}
objArray.push({'type':'{{obj.type}}', 'lnglat':{{obj.lnglat}}, 'path': {{obj.path}} })
{% else %}
objArray.push({'type':'{{obj.type}}', 'lnglat':{{obj.lnglat}}, 'text':'{{obj.text}}'});
{% endif %}
{% endfor %}

</script>
<script src="{% static "micromap/app.js" %}"></script>
</html>
